.main-header {
    /* background-color: #005178; */
    padding: 0.5em 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.main-nav {
    margin-right: 1.5em;
}

.nav-ul {
    display: flex;
    font-size: 2em;
}

.nav-ul li {
    display: block;
    list-style: none;
    margin-left: 0.5em;
    color: black;
    font-size: 0.8em;
    /* align-items: center; */
}

.nav-ul li a {
    text-decoration: none;
    color: black;
}

.nav-ul li a:hover {
    color:#3B91C1;
}

.dropdown-toggle:hover {
    background-color: #215670; /* Change the background color on hover */
  }

  
  


.main-heading {
    color: #7BCDCE;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
}

.logo-heading {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.logo img {
    width: 55px;
    height: auto;
}

