.news-box {
    display: block;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header-news {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding-bottom: 2em;
    padding-top: 1em;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.news-container {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

.news-articles {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
}

.main-article img {
    width: 100%;
    max-height: 500px;
    max-width: 780px;
}


.main-article p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    text-align: justify;
    color: #212121;
}


.header-news-p {
    font-size: 50px;
    line-height: 56px;
    font-weight: 900;
}



