.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-container input {
    display: block;
    width: 100%;
}

.errorMessage {
    color: red;
}

.serverError {
    color: red;
}

